{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'static/css/login.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <script defer>
        alert('{{message}}');
      </script>

      {% endfor %}
    </ul>
    {% endif %} {% if messages %}
    <!-- Hidden element to store the message -->
    <ul class="list-unstyled d-none">
      {% for message in messages %}
      <li class="django-message" data-message="{{ message }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="container" style="max-width: 25%">
      <div class="forms">
        <div class="form login">
          <span class="title">Login</span>
          <form method="POST">
            {% csrf_token %}
            <div class="input-field">
              <input
                type="text"
                placeholder="Enter Username"
                name="username"
                id="email"
                required />
              <i class="bi bi-person-circle"></i>
            </div>
            <div class="input-field">
              <input
                type="password"
                placeholder="Enter Password"
                name="password"
                id="psw"
                required />
              <i class="bi bi-person-fill-lock"></i>
            </div>
            <div class="checkbox-text">
              <div class="checkbox-content">
                <input type="checkbox" onclick="myFunction()" />
                <label for="logCheck" class="text">Show Password</label>
              </div>
            </div>
            <div class="input-field button">
              <button type="submit" id="login-btn" class="input">
                Login Now
              </button>
            </div>
            <p class="text-center mt-3" style="color: #ffffffbe">
              Don't have an account?
              <a
                href="{% url 'user:user_register' %}"
                style="text-decoration: none; color: #7594e9">
                Register</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script>
      function myFunction() {
        var x = document.getElementById('psw');
        if (x.type === 'password') {
          x.type = 'text';
        } else {
          x.type = 'password';
        }
      }
    </script>
  </body>
</html>
